/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #F4F1EA; /* The warm background tone from the image */
  font-family: spectral, playfair, serif;
  color: #373737;
  width: 100%;
}

#root {
  width: 100%;
}
